@page "/usafrocktossinternet"

<h1><span><b>USAF's "Rock Toss"  Recreation of the Internet</b></span></h1>
<h2>As observed and experienced by Barton Milnor Mallory</h2>
<h3>USAF "Rock Toss Internet"</h3>

<p>This page is called (as represented the way it's viewed from my position)
    "Where is the government?" and leads to something that is
    apparently designed for us to wonder where all the wedding rings are, not to mention
    the mission to save our townsfolk from the terrors of violence and wondering 
    where that one is too...
</p>

<h4>Each individual dot on this map represents the next member added to the "Snake Patrol,"
    as I call it, and wanders around its "base," with the echoes of its "service" 
    shown in channels that ping where its responsibility is apparently completely 
    abandoned.</h4>


@code {


}