
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">TheWatch</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="counter">
                <span class="oi oi-plus" aria-hidden="true"></span> Counter
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="fetchdata">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Fetch data
            </NavLink>
        </div>
    </nav>
</div>

@code {
    /// <summary>   True to collapse navigation menu. </summary>
    private bool collapseNavMenu = true;

    ///-------------------------------------------------------------------------------------------------
    /// <summary>   Gets the navigation menu CSS class. </summary>
    ///
    /// <value> The navigation menu CSS class. </value>
    ///-------------------------------------------------------------------------------------------------

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    ///-------------------------------------------------------------------------------------------------
    /// <summary>   Toggle navigation menu. </summary>
    ///
    /// <remarks>   Broadsides, 9/14/2023. </remarks>
    ///-------------------------------------------------------------------------------------------------

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
